.navbar-brand{
    width: 10%;
}

.hero-devs{
    width: 80%;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.skill img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.projects_card img{
    width: 100%;
}